/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --decor-color: #ff0070;
  --decor-color-text: #ff0070;
  --font-color: #db00ff;
  --main-bg-color: #000028;
  --font-color-title-text: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.header {
  position: relative;
}

.header__rec::before {
  display: block;
  position: absolute;
  content: "rec";
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #ff0070;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: var(--main-gap);
}

.header__rec::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
  inset-inline-end: calc(var(--main-gap) + 9px);
  inset-block-start: calc(var(--main-gap) + 8px);
}
