/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  display: grid;
  gap: var(--page-gap);
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* * { outline: 1px solid red; } */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: max(668px, 100vh);
  /* block-size: 668px; */
  position: relative;
}

.header__rec::before {
  display: block;
  position: absolute;
  content: "rec";
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #ff0070;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: var(--main-gap);
}

.header__rec::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
  inset-inline-end: calc(var(--main-gap) + 9px);
  inset-block-start: calc(var(--main-gap) + 8px);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__theme-menu {
  grid-row: 1;
  padding-right: var(--main-gap);
  padding-top: var(--main-gap);
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--nav-color);
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button {
  padding: 2px 12px 4px 12px;
}


.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__title {
  display: block;
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--decor-color);
  color: var(--font-color);
  line-height: 83%;
  padding-block-start: 4px;
  justify-self: center;
  margin-left: 7px;
}

.header__text {
  grid-row: 3;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  justify-self: center;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--font-color-title-text);
}

.content {
  display: grid;
  gap: var(--content-gap);
  padding-inline-start: var(--main-gap);
  padding-inline-end: var(--main-gap);
}

.content__section {
  line-height: 130%;
  font-size: 18px;
  
}

.content__section-title {
  font-weight: 700;
  color: var(--decor-color-text);
  margin-bottom: 20px;
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.text-block {
  display: grid;
  align-items: start;
}

.text-block__subtitle {
  margin-top: 10px;
  font-weight: 400;
}

.text-block__title,
.text-block__subtitle {
  color: var(--font-color-title-text);
  background-color: var(--decor-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.text-block__list {
  margin-bottom: 10px;
}


.text-block__content {
  display: grid;
  gap: 10px;
  font-weight: 400;
  color: var(--main-text-color);
}

.why {
  display: grid;
}

.text-block__list-modificator {
  margin-bottom: 0px;
}

.text-block__gallery {
  display: grid;
  gap: var(--main-gap);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.causes {
  .content__section-title {
    grid-column: 1/ -1;
    max-width: var(--title-max-width);
  }
  .text-blocks {
    grid-column: 1/ -1;
  
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
     }
    }
  .text-block {
    @media (width >= 1024px) {
      grid-template-rows: min-content;
    }
  }
}

.footer {
  position: relative;
  block-size: max(668px, 100vh);
  /* block-size: 668px; */
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .header__title {
    grid-row: 1;
    font-weight: 700;
    text-shadow: 2px 2px 0 var(--decor-color);
  }
}

@media (width >=768px) {
  .header,
  .footer {
    block-size: max(1024px, 100vh);
    /* block-size: 1024px; */
  }

  .header__title {
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0px;
  }

  .header__theme-menu {

  }

  .header__text {
    justify-self: end;
    inline-size: 47.5%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .gallery.content__section {
    grid-template-columns: 1fr;
  }

  .text-block__gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
  }

  .gallery-image:first-of-type {
    grid-column: span 2;
  }

  .gallery-image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery-image:nth-of-type(5) {
    grid-column: span 2;
  }

  :root {
    --main-gap: 20px;
    --page-gap: 60px;
    --content-gap: 80px;
    --title-max-width: 200px;
  }
}


@media (width >= 1024px) {
  .header,
  .footer {
    block-size: max(768px, 100vh);
    /* block-size: 768px; */
  }
  .header {
    justify-items: center;
    align-items: start;
  }

  .header__theme-menu {
    justify-self: center;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;

  }

  .header__text {
    align-self: center;
    inline-size: 48%;
  }

  .content__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .text-blocks {
    grid-column: span 2;
  }

  :root {
    --title-max-width: 260px
  }
}