/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  display: grid;
  gap: var(--page-gap);
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 668px;

}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
  padding-inline-start: 10px;
}

.header__theme-menu {
  grid-row: 1;
  padding-inline-end: var(--main-gap);
  justify-self: end;
  transform: translateY(5px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--nav-color);
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__title {
  display: block;
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--decor-color);
  color: var(--font-color);
  line-height: 83%;
  padding-block-start: 4px;
  transform: translateX(10px);

}

.header__text {
  grid-row: 3;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  margin-inline-end: var(--main-gap);
  margin-block-end: 11px;
  margin-inline-start: 10px;
  justify-self: end;
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--font-color-title-text);
}

.content {
  display: grid;
  gap: var(--content-gap);
  padding-inline-start: var(--main-gap);
  padding-inline-end: var(--main-gap);
}

.content__section {
  line-height: 130%;
  font-size: 18px;
  
}

.content__section-title {
  font-weight: 700;
  color: var(--decor-color-text);
  margin-bottom: 20px;
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.text-block {
  display: grid;
  align-items: start;
}

.text-block__subtitle {
  margin-top: 10px;
  font-weight: 400;
}

.text-block__title,
.text-block__subtitle {
  color: var(--font-color-title-text);
  background-color: var(--decor-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.text-block__list {
  margin-bottom: 10px;
}

.text-block__title {
}

.text-block__content {
  font-weight: 400;
  color: var(--main-text-color);
}

.why {
  display: grid;
}

.gallery {
  margin-top: -10px;
}

.text-block__gallery {
  display: grid;
  gap: var(--main-gap);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.causes {
  .content__section-title {
    grid-column: 1/ -1;
    max-width: var(--title-max-width);
  }
  .text-blocks {
    grid-column: 1/ -1;
  
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
     }
    }
  .text-block {
    @media (width >= 1024px) {
      grid-template-rows: min-content;
    }
  }
}

.footer {
  position: relative;
  block-size: 668px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .header__title {
    grid-row: 1;
    font-weight: 700;
    text-shadow: 2px 2px 0 var(--decor-color);
  }
}

@media (width >=768px) {
  .header,
  .footer {
    block-size: 1024px;
  }

  .header__title {
    justify-self: start;
    transform: translateX(0px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    transform: translateY(10px);
  }

  .header__text {
    inline-size: 47%;
    transform: translateY(-5px);
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .gallery.content__section {
    grid-template-columns: 1fr;
  }

  .text-block__gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
  }

  .gallery-image:first-of-type {
    grid-column: span 2;
  }

  .gallery-image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery-image:nth-of-type(5) {
    grid-column: span 2;
  }

  :root {
    --main-gap: 20px;
    --page-gap: 60px;
    --content-gap: 80px;
    --title-max-width: 200px;
  }
}



@media (width >= 1024px) {
  .header,
  .footer {
    block-size: 768px;
  }
  .header {
    justify-items: center;
    align-items: start;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 10px;
    padding-inline-end: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 23px;

  }

  .header__text {
    align-self: center;
    inline-size: 48%;
  }

  .content__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .text-blocks {
    grid-column: span 2;
  }

  :root {
    --title-max-width: 260px
  }
}

